.git
.gitignore
.vscode
.DS_Store
.env
.env.*
!.env.example

node_modules
**/node_modules

**/dist
**/.cache

docs

packages/mobile/*
!packages/mobile/package.json

packages/mobile/ios
packages/mobile/android
packages/mobile/.expo
